<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhuandian.grammar">

    <application>
        <activity android:name=".page.EqualActivity">
        </activity>
        <activity android:name=".page.NullActivity">
        </activity>
        <activity android:name=".page.RepetActivity">
        </activity>
        <activity android:name=".page.ConditionActivity">
        </activity>
        <activity android:name=".page.MapOfActivity">
        </activity>
        <activity android:name=".page.ListOfActivity">
        </activity>
        <activity android:name=".page.SetOfActivity">
        </activity>
        <activity android:name=".page.StringActivity">
        </activity>
        <activity android:name=".page.ArrayActivity">
        </activity>
        <activity android:name=".page.VariableActivity">
        </activity>
        <activity android:name=".GrammarMainActivity">
        </activity>
    </application>

</manifest>